.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--navbar-height));
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.name {
  transform: translateX(-200%);
  transition: transform 1s cubic-bezier(0, 1.61, 1, 1.17);
  font-weight: bold;
  font-size: clamp(2rem, 10vw, 10rem);
}

.occupation {
  transform: translateX(200%);
  transition: transform 1s cubic-bezier(0, 1.72, 1, 1.59);
  font-size: clamp(1rem, 4vw, 4rem);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.name.animate,
.occupation.animate {
  transform: translateX(0%);
}
