.navbar {
  background-color: var(--secondary-light);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding-right: 2rem;
  justify-content: flex-end;
}

.navbar > ul {
  list-style-type: none;
  display: flex;
  column-gap: 5rem;
}

.listitem {
  color: var(--text-light);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.link_name {
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 300ms ease-in-out;
  transition-delay: 100ms;
  opacity: 0;
}

.link_name.show {
  top: 0;
  opacity: 1;
}

.link {
  transition: all 300ms ease;
}

.link.hide {
  transform: translateY(-100%);
  opacity: 0;
}
